<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="formCtrl">
      <div class="f-form">
      <div class="form-box">
      <form method="POST" class="reg-form">
        <h3>Registration</h3><br>
      <div class="reg-div">
        <label for="email" class="log-label">Enter Your Email:</label>
        <input type="email" name="email" ng-model="Data.email" class="reg-input" />
      </div> <br><br>
      <div class="reg-div">
        <label for="firstName" class="log-label">Enter Your First Name:</label>
        <input type="text" name="firstName" ng-model="Data.firstName" class="reg-input"/>
      </div> <br><br>
      <div class="reg-div">
        <label for="lastName" class="log-label">Enter your Last Name: </label>
        <input type="text" name="lastName" ng-model="Data.lastName" class="reg-input"/>
      </div> <br><br>
      <div class="reg-div">
        <label for="password" class="log-label">Enter a Password:</label>
        <input type="text" name="password" ng-model="Data.password" class="reg-input" />
      </div>
      <br>
      </form>
      <a href="login.html"><button ng-click="fetchvalue()" class="reg-button">Submit</button></a>
    </div>
    </div>
  </div>
  </body>
</html>
